/*global*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; /*propiedad que no tenga encuenta el border aplicado, asegurando que el relleno y el borde estan incluido en ancho y altura de la caja*/
}
.container{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background: rgb(134, 235, 148);
    height: auto;
}
.row{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display:table; 
}
[class*="col-"]{
    float: left;
    /*border: solid 1px black;*/
    padding: 10px;
}
/*========================================
SECTION 1
===========================================*/
header #logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
header center p{
    width: 42px;
    line-height: 42px;
    border-radius: 100%;
    text-align: center;
   
}
header center#icon1 p{
    background: rgb(32, 167, 245);
}
header center#icon2 p{
    background: rgb(48, 148, 48);
}
header center#icon3 p{
    background: rgb(58, 67, 185);
}
/*--=======================================
SECTION 2
=============================================*/
nav ul li{
    padding: 10px;
    text-align: center;
    
}
nav ul li a{
    display: block;
    background: rgb(5, 5, 201);
    font-family: 'Kaushan Script', cursive;
    color: white;
    line-height: 48px;
    max-width: 100px;
    margin: auto;
}
nav ul li a:hover{
    background: rgb(107, 161, 223);
}
/*========================================
            SECTION 3
===========================================*/
#section3 center{
    padding: 20px;
}
#section3 img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
#section3 h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    padding: 10px;
}
#section3 p{
    padding: 10px;
}
/*========================================
            SECTION 4
===========================================*/
#section4 aside#left ul li{
    background: #aaa;
    padding: 10px;
    margin: 2px 10px;
}
#section4 article h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin: 20px;
}
#section4 article p img{
    float: left;
    margin-right: 20px;
}
#section4 article p{
    margin: 5px 20px;
    font-size: 15px;
    text-align: justify;
}

#page-init{
    display: block;
}
#page-order{
    display: none;
}
#page-filter{
    display: none;
}
#page-final{
    display: none;
}
/* cajitas pokemon */
.pokemon-box-card{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .card-link{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .blog-card{
    width: 100%;
    background: rgba(227, 146, 175, 0.7);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
  
  }
  .post-image .article-details{
    display: inline;
  }
/*--=======================================
SECTION 5
=============================================*/
footer{
    padding: 20px 10px;
}
footer div{
    background: rgb(84, 84, 236);
    text-align:center;
    line-height: 50px;
    color: white;
}
/*========================================
PANTALLA DE ESCRITORIO GRANDE- LARGE (lg)
===========================================*/
@media(min-width:1200px){

    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.66666667%}
    .col-lg-10{width: 83.33333333%}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.33333333%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.6666666%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-1{width: 8.33333333%;}
    .col-lg-0{display: none;}
    #section4 article p img{
        width: 50%;
    }
    
}
/*========================================
PANTALLA DE ESCRITORIO MEDIANO- LARGE (md)
===========================================*/
@media(max-width:1199px) and (min-width:992px){

    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%}
    .col-md-10{width: 83.33333333%}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333333%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.6666666%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}
    .col-md-0{display: none;}
    #section4 article p img{
        width: 60%;
    }
}
/*========================================
PANTALLA DE ESCRITORIO SMALL (sm)
===========================================*/
@media(max-width:991px) and (min-width:768px){

    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.66666667%}
    .col-sm-10{width: 83.33333333%}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.33333333%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.6666666%;}
    .col-sm-4{width: 33.33333333%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667%;}
    .col-sm-1{width: 8.33333333%;}
    .col-sm-0{display: none;}
    #section4 article p img{
        width: 100%;
        margin-bottom: 20px;
    }
}
/*========================================
PANTALLA DE ESCRITORIO PHONES (xs)
===========================================*/
@media(max-width:767px){

    .col-xs-12{width: 100%;}
    .col-xs-11{width: 91.66666667%}
    .col-xs-10{width: 83.33333333%}
    .col-xs-9{width: 75%;}
    .col-xs-8{width: 66.66666667%;}
    .col-xs-7{width: 58.33333333%;}
    .col-xs-6{width: 50%;}
    .col-xs-5{width: 41.6666666%;}
    .col-xs-4{width: 33.33333333%;}
    .col-xs-3{width: 25%;}
    .col-xs-2{width: 16.66666667%;}
    .col-xs-1{width: 8.33333333%;}
    .col-xs-0{display: none;}
    #section4 article p img{
        width: 100%;
        margin-bottom: 20px;
    }
}