@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed');
/*
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Noto Serif TC', serif;
font-family: 'Quicksand', sans-serif;*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /*background-image: url(img/machupicchu.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  
  background:url(img/background-init.webp) center center no-repeat;
  background-attachment: fixed;
  background-size:100% auto;
}
header{
  width: 100%;
  text-align: center;
  margin: auto;
  height: 228px;;
  background: url(img/bannerPok.jpg) center top / cover no-repeat rgb(148, 224, 68);
}
.img-header{
  width: 10%;
  display: inline;
  margin: auto;
}
.img-header-center{
  width: 35%;
}
.menu-horizontal{
  width: 100%;
  background: #4E94AB;
  justify-content: center;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.menu-horizontal label{
  display: none;
  padding: 10px;
}
.menu-horizontal label:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.menu li:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.wrap{
  max-width: 1100px;
  width: 90%;
  margin: auto;
}
.initial-card{
  padding: 10px;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: blue;
}
.initial-card img{
  display: block;
  margin: auto;
}
#pag-inicio{
  display: block;
}
#pag-filtrar{
  display: none;
  padding: 70px 0 70px 0px;
}
#pag-ordenar{
  display: none;
}
#pag-pokecientifico{
  display: none;
}
.btn-pokemon{
  float: left;
  margin-top: 15px;
  padding: 2px;
  width: 18%;
}
#btn-menu{
  display: none;
}
.category-pokemon{
  display: inline-block;
  width: 90%;
  padding: 17px 0;
  margin-bottom: 17px;
  background: #C5F8F7;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #400419;
}
.list-btn li{
  list-style: none;
}
/* cajitas pokemon */
.pokemon-box-card{
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card-link{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.blog-card{
  width: 100%;
  background: linear-gradient(111.6deg, #FFFFFF 2.76%, #B5FEA7 90.52%);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  grid-template-columns: 2;
  grid-template-rows: 1;
}
.post-title{
  border-bottom: solid 2px #23F1B4;
  margin: 0 0 12px 0;
  font-family: 'Lato', sans-serif;
  color: #1D8696;
}
.article-details{
  background: #ffff;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #424847;
}
.post-description{
  display: block;
}
#container-init{
  padding: 70px 0 70px 0px;
}
#pag-inicio h4{
  font-weight: 200px;
  border-bottom: 1px solid #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  padding: 30px 0 30px 30px;
}
#pag-inicio p{
  font-weight: 200px;
  font-size: 1em;
  color: #fff;
  padding: 30px 0 30px 30px;
}

.fond-text{
  background: rgba(0, 46, 85, 0.5);
  
}
footer{
  position: fixed;
  bottom: 0px;
  background: #fff;
  color: black;
  text-align: center;
  width: 100%;
}
.row{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display:table; 
}[class*="col-"]{
  float: left;
  /*border: solid 1px black;*/
  padding: 10px;
}
.img-init{
  width: 100%;
  height: auto;
}
/*========================================
PANTALLA DE ESCRITORIO GRANDE- LARGE (lg)
===========================================*/
@media(min-width:1200px){

  .col-lg-12{width: 100%;}
  .col-lg-11{width: 91.66666667%}
  .col-lg-10{width: 83.33333333%}
  .col-lg-9{width: 75%;}
  .col-lg-8{width: 66.66666667%;}
  .col-lg-7{width: 58.33333333%;}
  .col-lg-6{width: 50%;}
  .col-lg-5{width: 41.6666666%;}
  .col-lg-4{width: 33.33333333%;}
  .col-lg-3{width: 25%;}
  .col-lg-2{width: 16.66666667%;}
  .col-lg-1{width: 8.33333333%;}
  .col-lg-0{display: none;}
  #section4 article p img{
      width: 50%;
  }
  
}
/*========================================
PANTALLA DE ESCRITORIO MEDIANO- LARGE (md)
===========================================*/
@media(max-width:1199px) and (min-width:992px){

  .col-md-12{width: 100%;}
  .col-md-11{width: 91.66666667%}
  .col-md-10{width: 83.33333333%}
  .col-md-9{width: 75%;}
  .col-md-8{width: 66.66666667%;}
  .col-md-7{width: 58.33333333%;}
  .col-md-6{width: 50%;}
  .col-md-5{width: 41.6666666%;}
  .col-md-4{width: 33.33333333%;}
  .col-md-3{width: 25%;}
  .col-md-2{width: 16.66666667%;}
  .col-md-1{width: 8.33333333%;}
  .col-md-0{display: none;}
  #section4 article p img{
      width: 60%;
  }
}
/*========================================
PANTALLA DE ESCRITORIO SMALL (sm)
===========================================*/
@media(max-width:991px) and (min-width:768px){

  .col-sm-12{width: 100%;}
  .col-sm-11{width: 91.66666667%}
  .col-sm-10{width: 83.33333333%}
  .col-sm-9{width: 75%;}
  .col-sm-8{width: 66.66666667%;}
  .col-sm-7{width: 58.33333333%;}
  .col-sm-6{width: 50%;}
  .col-sm-5{width: 41.6666666%;}
  .col-sm-4{width: 33.33333333%;}
  .col-sm-3{width: 25%;}
  .col-sm-2{width: 16.66666667%;}
  .col-sm-1{width: 8.33333333%;}
  .col-sm-0{display: none;}
  #section4 article p img{
      width: 100%;
      margin-bottom: 20px;
  }
}
/*========================================
PANTALLA DE ESCRITORIO PHONES (xs)
===========================================*/
@media(max-width:767px){
  header{
    height: 60px;
  }
  .menu-horizontal{
    background: none;
    }
  .menu-horizontal label{
    display: block;
    height: 30px;
  }
  .menu-horizontal label:hover{
   background: none;
  }
  .menu{
    position: absolute;
    background: #4E94AB;
    width: 50%;
    margin-left: -50%;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid #fff;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
 }
body{
  background-size:auto 100%;
}


  .col-xs-12{width: 100%;}
  .col-xs-11{width: 91.66666667%}
  .col-xs-10{width: 83.33333333%}
  .col-xs-9{width: 75%;}
  .col-xs-8{width: 66.66666667%;}
  .col-xs-7{width: 58.33333333%;}
  .col-xs-6{width: 50%;}
  .col-xs-5{width: 41.6666666%;}
  .col-xs-4{width: 33.33333333%;}
  .col-xs-3{width: 25%;}
  .col-xs-2{width: 16.66666667%;}
  .col-xs-1{width: 8.33333333%;}
  .col-xs-0{display: none;}
  #section4 article p img{
      width: 100%;
      margin-bottom: 20px;
  }
}
